/* You can add global styles to this file, and also import other style files */
@import "themes/variables.less";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  height: 100vh;
}

input,
select {
  padding: 0.5rem;
  border-radius: 0.4rem;
  outline: none;
  border: 1px solid var(--commune-input-border-color);
  transition: all 0.3s;

  &:focus {
    box-shadow: 0 0 3px 5px var(--commune-primary-color-shade);
    border-color: var(--commune-primary-color);
  }

  &.invalid {
    border-color: var(--commune-error-color);

    &:focus {
      box-shadow: 0 0 3px 3px var(--commune-error-color-shade);
    }
  }
}

select {
  background-color: transparent;
}
