/* You can add global styles to this file, and also import other style files */
@import "themes/variables.less";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  height: 100vh;
}

input,
select {
  padding: 0.5rem;
  border-radius: 0.4rem;
  outline: none;
  border: 1px solid var(--commune-input-border-color);
  transition: all 0.3s;

  &:focus {
    box-shadow: 0 0 3px 5px var(--commune-primary-color-shade);
    border-color: var(--commune-primary-color);
  }

  &.invalid {
    border-color: var(--commune-error-color);

    &:focus {
      box-shadow: 0 0 3px 3px var(--commune-error-color-shade);
    }
  }
}

select {
  background-color: transparent;
}

.btn {
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 0.5rem;
  background-color: transparent;
  border-color: transparent;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: translateY(0.1rem);
    box-shadow: 0 1px 1px 1px var(--commune-grey-color);
  }

  &.btn-primary {
    background-color: var(--commune-primary-color);
    color: white;

    &:hover {
      background-color: var(--commune-primary-color-hover);
    }
  }

  &.btn-grey {
    background-color: var(--commune-grey-color);
    color: white;

    &:hover {
      background-color: var(--commune-grey-color-hover);
    }
  }
}
